[submodule "Assignments/homework-3-2025-Yuvalb94"]
	path = Assignments/homework-3-2025-Yuvalb94
	url = https://github.com/sagol-python-for-neuroscientists/homework-3-2025-Yuvalb94.git
[submodule "Assignments/homework-4-2025-Yuvalb94"]
	path = Assignments/homework-4-2025-Yuvalb94
	url = https://github.com/sagol-python-for-neuroscientists/homework-4-2025-Yuvalb94.git
